@model Categoria

@{
    ViewData["Title"] = "Borrar  Categoria";
}

<h3 class="mb-3">Esta seguro que desea borrar la Categoria</h3>

<form asp-action="DeleteCategorias">
    <input type="hidden" asp-for="id_categorias" />
    <button type="submit" class="btn btn-danger">Borrar</button>
    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}